* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px red solid;

}

:root {
    --color-primary: hsl(22, 89%, 52%);
    --color-primary-light: hsl(22, 100%, 69%);
    --color-black: hsl(220, 50%, 17%);
    --color-grey: hsl(221, 23%, 58%);
    --color-grey-light: hsl(198, 28%, 93%);
}

html {
    overflow-x: hidden;
}
body {
    font-family: 'Barlow', sans-serif;
    width: 375px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    text-transform: uppercase;
    padding: 24px;
    margin-top: 40px;
}

h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 32px;
    padding: 60px;
    text-align: center;
}

h3 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    padding: 24px;
    margin: 0 60px 0 60px;
}

.text--center {
    text-align: center;
}

p {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-grey);
    padding: 24px;
}

button {
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 11px 14px;
    font-weight: 500;
    border: none;
}

.button--orange {
    background: var(--color-primary);
    color: white;
}

.button--grey {
    background: var(--color-grey-light);
    color: black;
}

.button--grey:active {
    background: var(--color-black);
    color: white;
}

.first--image {
    border-radius: 10px;
    margin-left: 24px;
    width: 100%;
}

.icons {
    background-color: var(--color-primary);
    border: var(--color-primary) 20px solid;
    width: 65px;
    height: 65px;
    border-radius: 10px;
    margin: 64px 155px 48px 155px;
}

.logo {
    width: 40px;
    height: 40px;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px 0 24px;
}

.cta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px 0 24px;
    margin-bottom: 64px;
}

.cta__release {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-grey);
}

.keyboard-images {
    display: flex;
    flex-direction: row;
}

.keyboard-two {
    width: 220px;
    height: 193px;
    margin: 24px 24px 0 24px;
    border-radius: 10px;
}

.keyboard-one {
    background: linear-gradient(0deg, hsla(22, 89%, 52%, 0.7), hsla(22, 89%, 52%, 0.7)), url("./assets/mobile/image-phone-and-keyboard.jpg");
    background-size: cover;
    width: 129px;
    height: 193px;
    border-radius: 10px;
    margin: 24px 0 0 -20px;
}

.text-end {
    margin: 96px 0 50px 0;
    padding: 0;
    text-align: center;
}



